.game-room-ball-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-room-ball-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.game-room-ball-header h1 {
    font-size: 40px;
    font-weight: bold;
}

.game-room-ball-header p {
    font-size: 20px;
    font-weight: bold;
    margin-top: -10px;
}

.game-room-ball-header h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}

.game-room-ball-speaker {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;

}

.game-room-ball-player-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.game-room-ball-player-list button {
    margin: 10px;
    color: white;
    background-color: #0078d3;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
}

.intercept {
    background-color: #ff2828;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: 0 10%;
}

.intercept-block {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}


.intercept-block h1 {
    margin-top: 20%;
    font-size: 40px;
    font-weight: bold;
}

.intercept-block h2 {
    margin-top: 10%;
    font-size: 50px;
    font-weight: bold;
}

.intercept-block p {
    margin-top: 10%;
    font-size: 50px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .intercept {
        font-size: 40px;
    }
}