.host-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.host-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.host-header h1 {
    font-size: 30px;
    font-weight: bold;
}

.host-header input {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.host-header input::placeholder {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.host-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.host-content h2 {
    font-size: 30px;
    font-weight: bold;
}

.host-content button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.host-content button:hover {
    background-color: #000;
    color: #fff;
}

.host-back-button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    background-color: rgb(255, 51, 51);
    color: #fff;
    border: none;
    border-radius: 10px;
}

.host-back-button:active {
    background-color: #000;
    color: #fff;
}