.gameroomroulette-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameroulette-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.gameroulette-header p {
    font-size: 30px;
    font-weight: bold;
    margin: -10px 0;
    padding: 10px 20px;
    border-radius: 5px;
}

.gameroulette-header span {
    font-size: 30px;
}

.role-desc {
    padding: 0 10px;
    font-size: 20px;
}

.gameroulette-body {
    margin-top: 10px;
    background-color: #0077d9;
    color: #fff;
    border: none;
    width: 80%;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 5px;
}

.roulette-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roulette-result {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px 0;
}

.roulette-wheel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.roulette-button-container {
    position: absolute;
    z-index: 100;
}

.roulette-button-container button {
    background-color: #fff700;
    color: #000;
    padding: 20px 5px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}